.accordion_item {
	background-color: #283042;
	border-radius: 0.4rem;
	margin-bottom: 1rem;
	padding: 1rem;
	box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
}

.accordion_link {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	width: 100%;
	font-size: 1.6rem;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	background-color: #283042;
	padding: 24px 48px 24px 48px;
	cursor: pointer;
}

.accordion_link ion-icon {
	color: #e7d5ff;
	padding: 0.5rem;
}

.accordion_link .remove-outline {
	display: none;
}

.answer {
	/* hide description text */
	overflow: hidden;
	max-height: 0;
	background-color: #212838;
	/* for sudo decoration line */
	position: relative;
	transition: max-height 1000ms;
}

.answer::before {
	content: '';
	position: absolute;
	width: 0.6rem;
	height: 90%;
	background-color: #8fc660;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.answer p {
	font-size: 1.4rem;
	color: rgba(255, 255, 255, 0.6);
	padding: 2rem;
}

.answer_open {
	overflow: none;
	max-height: 20rem;
	transition: max-height 1000ms;
}

.roomTitle {
	padding-bottom: 24.5px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.roomDetail {
	padding: 0 0 2px 0;
	font-size: 20px;
	line-height: 28px;
}
