@import '../../../styles/viewport.scss';

.visibilityToggleContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	padding-top: 16px;

	@include xs {
		padding-top: 32px;
	}

	&:last-child {
		padding-bottom: 16px;

		@include xs {
			padding-bottom: 32px;
		}
	}
}
