@import '../../../styles/viewport.scss';
@import '../../../styles/colors.scss';

.accordionItem__fittingsContainer {
	display: flex;
	flex-direction: column;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: start;
	margin-bottom: 16px;
	transition: margin 0.6s ease;

	@include xs {
		margin-bottom: 0px;
	}

	.accordionItem__fittingsItem {
		/* flex: 1; */
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: start;
		margin-top: 32px;
		padding-bottom: 12px;
		padding-right: 16px;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;

		.accordionItem__fittingsIcon {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 12px;
			height: 24px;
			width: 24px;
			background-color: $color-primary;
			margin-right: 8px;
		}
	}
}