@import '../../../styles/viewport.scss';

.visibilityToggleContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	padding: 16px 0 16px 0;

	@include xs {
		padding: 32px 0 32px 0;
	}

	&:last-child {
		padding-top: 0px;
	}
}

.accordion {
	width: 100%;
	& > button:last-of-type {
		margin-bottom: 0;
	}
}
