$color-main-background: #ffffff;
$color-main-yellow: #ffef00;
$color-main-yellow-hovered: #fff88b;
$color-primary: #459fd8;
$color-red: #ff0000;
$color-foreground: #ffffff;
$color-foreground-hovered: #f1f1f1;
$color-background: #f3f3f3;
$color-dark-blue: #212838;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-shadow-dark: rgba(0, 0, 0, 0.25);

$color-font-black: #000000;
$color-font-title: #333333;
$color-font-body: #666666;
$color-font-hint: #999999;
