@import '../../../styles/colors.scss';

.summaryCard {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 36px 32px 32px 32px;
	margin-bottom: 1rem;
	font-size: 1.6rem;
	cursor: default;
	background-color: $color-dark-grey;
	color: rgba(255, 255, 255, 0.8);
	box-shadow: 0.5rem 2px 0.5rem $color-shadow;
	border-radius: 0.4rem;

	&__item {
		display: flex;
		width: 100%;
		text-align: start;
		padding-bottom: 12px;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;

		&:last-child {
			padding-bottom: 0px !important;
		}

		&__key {
			flex: 0.75;
		}
		&__value {
			flex: 1;
			color: white;
		}

		&__textfield {
			padding-top: 6px !important;
			padding-bottom: 6px !important;

			& > div {
				margin-bottom: 0px !important;
			}
		}
	}

	&__title {
		width: 100%;
		text-align: start;
		padding-bottom: 24px;
		font-weight: 700;
		font-size: 24px;
		line-height: 22px;
	}
}
