@import './styles/viewport.scss';
@import './styles/colors.scss';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: black;
	font-family: 'Circular Std', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	overflow: hidden;
	width: 100%;

	@include lg {
		flex-direction: column;
		align-items: flex-start;
	}

	.modelCanvasLoadingScreen {
		position: fixed;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		top: 0;
		width: 100vw;
		height: auto;
		z-index: 100;
		border-bottom-left-radius: 4rem;
		border-bottom-right-radius: 4rem;
		box-shadow: 0.5rem 2px 0.5rem $color-shadow-dark;
		padding: 48px 56px 48px 56px;
		background: white;
		@include xs {
			height: 30vh;
		}

		@include sm {
			height: 40vh;
		}

		@include lg {
			position: fixed;
			left: 15%;
			height: 100vh;
			z-index: 1;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			box-shadow: none;
		}

		.loadingText {
			font-size: 16px;
			font-weight: 700;
			color: $color-dark-blue;
			text-transform: uppercase;
			letter-spacing: 0.5rem;
		}

		img {
			width: 100px;
			height: auto;
			margin-right: 20px;
			margin-bottom: 16px;
			object-fit: cover;
			margin-top: 24px;
			margin-bottom: 24px;

			@include xs {
				width: 150px;
			}

			@include sm {
				width: 150px;
			}

			@include md {
				width: 200px;
			}

			@include lg {
				width: 300px;
			}
		}
	}
}

/* Overriding specific properties in MUI components, which are difficult to override inside theme.tsx */

.MuiOutlinedInput-notchedOutline {
	border-color: white !important;
}

/* left arrow inside open MuiCalendarPicker */
.css-ezjjhh-MuiButtonBase-root-MuiIconButton-root {
	color: black !important;
}

.css-ezjjhh-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
	color: rgba(0, 0, 0, 0.5) !important;
}

/* right arrow inside open MuiCalendarPicker */
.css-72as13-MuiButtonBase-root-MuiIconButton-root {
	color: black !important;
}

.css-72as13-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
	color: rgba(0, 0, 0, 0.25) !important;
}

.MuiStepIcon-root.Mui-active > text {
	fill: black !important;
}

.MuiStepIcon-root > text {
	fill: white !important;
}
