.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color: #000520;
	font-family: 'Circular Std', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	overflow: hidden;
	width: 100%;
	/* height: 100vh; */
}
