.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #000520;
	font-family: 'Circular Std', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

.inner-container {
	position: relative;
	box-sizing: border-box;
	/* margin: 0 auto; */
	width: 1600px;
	padding: 0 60px !important;
	/* width: 100% !important; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.canvas-wrapper {
	position: absolute;
	right: 0;
	left: 15%;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	cursor: pointer;
	/*left: 30%;
	height: 100vh;
	width: 100%;
	border: 0;
	float: right;
	position: relative;

	background: transparent; */
}

.card-container {
	/* display: relative;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 50px 100px 50px 100px;
	max-width: 565px;
	height: auto;
	background: #fff;
	z-index: 2;
	word-break: break-all; */
	/* position: relative; */
	background: #fff;
	height: auto;
	width: 565px;
	max-width: 565px;
	z-index: 2;
	overflow-wrap: break-word;
}

.card {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 100px 50px 100px 50px;
}

.product-button-container {
	/* display: flex; */
	/* flex-direction: row; */
	/* flex-flow: row wrap; */
	/* justify-content: flex-start; */
	/* align-items: flex-start; */
	/* width: 100%; */
	/* max-height: 100%; */
	inline-size: 150px;
	overflow-wrap: break-word;
}

.product-button {
	background-color: #ffef00;
	display: block;
	padding: 13px 15px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
	text-align: center;
	color: #000520;
	font-family: 'Circular Std', sans-serif;
	box-shadow: none;
	text-transform: uppercase;
	margin: 1rem 0 0 1rem;
	padding: 13px 15px;
	width: 243.2px;
	border: none;
	cursor: pointer;
	transition: all 0.15s ease-out;

	/* 
	Adjust 4px margin on each flex item for it to wrap prosperly
	Use flex: 0 1 calc(20% - 8px) -> item won't grow beyond 20% of width (adjusting for margin) 
	and can shrink based on the container width 
	*/

	margin: 4px;
	width: 100%;
	/* flex: 0 1 calc(20% - 8px); */
}

.product-button:hover {
	background-color: #fff88b;
}

.active {
	background-color: #000520;
	color: #ffef00;
	font-weight: 700;
	transition: all 0.15s ease-out;
}

.active:hover {
	background-color: #000520de;
	color: #ffef00;
	font-weight: 700;
	transition: all 0.15s ease-out;
}

.card-heading {
	height: auto;
	text-align: center;
	width: 100%;
	color: #000520;
	font-family: 'Lyon Text', sans-serif;
	font-size: 46px;
	font-weight: 900;
	line-height: 60px;
	/* padding-top: 40px; */
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#video {
	margin: auto;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	visibility: visible;
	opacity: 1;
	width: 100%;
}
