/* basic settings */
*,
*::before,
*::after {
	/* ensures that padding is added to inside of elements */
	box-sizing: border-box;
	/* ensures that browser isn’t adding any default padding */
	margin: 0;
	padding: 0;
}