@import '../../../styles/colors.scss';
@import '../../../styles/viewport.scss';

.roomAdditionsToggle {
	background: rgba(255, 255, 255, 1);
	border-radius: 4px;
	outline: none;
	transition: all 0.2s ease-in-out;
	border: 5px solid $color-dark-blue !important;
	height: 50px;
	width: 50px;

	// cursor pointer as click and hovering side effects on some mobile and tablet devices
	@include lg {
		cursor: pointer;
	}

	& > svg {
		transform: scale(0.7);
	}

	@include xs {
		height: 100px;
		width: 100px;

		& > svg {
			transform: scale(1.25);
		}
	}
	&:hover {
		border: none;
	}
	&--active {
		border: none !important;
		background: $color-main-yellow-hovered;
	}

	&--disabled {
		opacity: 0.15;
	}
}
