@import '../../../styles/colors.scss';
@import '../../../styles/viewport.scss';

.roomAdditionsToggle {
	background: rgba(255, 255, 255, 1);
	border-radius: 4px;
	outline: none;
	transition: all 0.2s ease-in-out;
	border: 5px solid $color-dark-blue;
	height: 75px;
	width: 75px;

	@include xs {
		height: 100px;
		width: 100px;
	}

	&:hover {
		border: none;
	}
	&--active {
		border: none;
		background: $color-main-yellow-hovered;
	}
}
