@import '../../../styles/colors.scss';

.debugger__container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	z-index: 99;
	background: white;
	width: 100%;
	height: auto;
	margin-top: 16px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 28px 24px 28px 24px;
	box-shadow: 0.5rem 2px 0.5rem $color-shadow-dark;
	border-radius: 0.4rem;
	overflow-wrap: break-word;
	font-size: 1.1rem;
	line-height: 22px;
}
