@import '../../../styles/colors.scss';
@import '../../../styles/viewport.scss';

// styling is used in AccordionItem.tsx and RoomCard.tsx
// .active and .rotate will be passed to React state on Accordion.js

.accordionItem {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	padding: 24px 32px 24px 32px;
	margin-bottom: 1rem;
	font-size: 1.6rem;
	border: none;
	outline: none;
	background-color: $color-dark-grey;
	color: rgba(255, 255, 255, 0.8);
	box-shadow: 0.5rem 2px 0.5rem $color-shadow;
	border-radius: 0.4rem;
	transition: background-color 0.6s ease, margin 0.6s ease;

	// cursor pointer as click and hovering side effects on some mobile and tablet devices
	@include lg {
		cursor: pointer;
	}

	/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

	&--active {
		background-color: $color-dark-grey-hovered;
		outline: 5px solid $color-dark-yellow;
		border-radius: 4px;
		margin-top: 40px;
		margin-bottom: 40px;

		.accordionItem__fittingsContainer {
			margin-bottom: 16px !important;
		}
	}

	// check if component is button to ensure that hover does not work on RoomCard.tsx
	&:is(button):hover {
		background-color: $color-dark-grey-hovered;
	}

	// Style to rotate icon when state is active
	&--rotate {
		transform: rotate(90deg);
	}

	// necessary for deactivating hover on RoomCard
	&--noHover {
		.accordionItem:hover {
			background-color: $color-dark-grey !important;
		}
	}

	&__header {
		width: 100%;

		@include xs {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		@include md {
			// Fixed calculated width as temporary workaround to deal with devices that does not take the width: 100% like Mac Book Pro with Safari
			// TODO: Find reason for this and remove temporary workaround
			width: calc(550px - 64px);
		}

		.accordionItem__infoColumn {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			margin-right: 20px;

			/* Style the accordion content title */
			.accordionItem__title {
				width: 100%;
				text-align: start;
				padding-bottom: 24px;
				font-weight: 700;
				font-size: 18px;
				line-height: 22px;
			}

			.accordionItem__roomInfoContainer {
				display: flex;
				flex-direction: column;

				.accordionItem__roomInfoItem {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					text-align: start;
					padding-bottom: 12px;
					font-weight: 400;
					font-size: 14px;
					line-height: 18px;

					.accordionItem__roomInfoCheckMark {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 24px;
						width: 24px;
						padding: 6px;
						margin-right: 8px;
					}
				}
			}

			.accordionItem__fittingsContainer {
				display: flex;
				flex-direction: column;
				display: inline-flex;
				flex-direction: row;
				flex-wrap: wrap;
				text-align: start;
				margin-bottom: 16px;
				transition: margin 0.6s ease;

				@include xs {
					margin-bottom: 0px;
				}

				.accordionItem__fittingsItem {
					/* flex: 1; */
					display: flex;
					justify-content: flex-start;
					align-items: center;
					text-align: start;
					padding-bottom: 12px;
					padding-right: 16px;
					font-weight: 400;
					font-size: 14px;
					line-height: 18px;

					.accordionItem__fittingsIcon {
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 12px;
						height: 24px;
						width: 24px;
						background-color: $color-dark-yellow;
						margin-right: 8px;
					}
				}
			}
		}

		.accordionItem__image {
			width: 100%;
			height: auto;
			margin-right: 20px;
			object-fit: cover;

			@include xs {
				width: 180px;
				height: 135px;
			}
		}

		/* Style the accordion chevron icon */
		.accordionItem__chevronIcon {
			display: none;
			transition: transform 0.6s ease;

			@include xs {
				display: block;
			}
		}
	}

	&__content {
		/* hide description text */
		width: 100%;
		overflow: hidden;
		max-height: 0;
		background-color: $color-dark-blue;
		/* for sudo decoration line */
		position: relative;
		transition: max-height 0.6s ease;

		&::before {
			content: '';
			position: absolute;
			width: 0.6rem;
			height: 90%;
			background-color: $color-dark-yellow;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		& p {
			font-size: 1.4rem;
			color: rgba(255, 255, 255, 0.6);
			padding: 2rem;
		}
	}
}
