@import '../../../styles/colors.scss';
@import '../../../styles/viewport.scss';

.noResultsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 32px;

	.noResultsIcon {
		width: 100px;
		height: 100px;

		@include xs {
			width: 125px;
			height: 125px;
		}
	}

	.noResultsMessage {
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		color: $color-dark-blue;
		width: 100%;

		margin-top: 16px;

		@include xs {
			font-size: 16px;
			margin-top: 32px;
		}
	}

	.noResultsHint {
		text-align: center;
		font-size: 14px;
		color: $color-dark-blue;
		width: 100%;

		margin-top: 8px;

		@include xs {
			font-size: 16px;
			margin-top: 8px;
			padding-left: 32px;
			padding-right: 32px;
		}
	}
}
