@import '../../../styles/colors.scss';
@import '../../../styles/viewport.scss';

.container {
	position: relative;
	padding: 0 24px !important;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	transition: margin 0.25s ease;
	margin-top: calc(25vh + 32px);

	@include xs {
		padding: 0 32px !important;
		margin-top: calc(30vh + 32px);
	}

	@include sm {
		padding: 0 48px !important;
		margin-top: calc(40vh + 32px);
	}

	@include lg {
		width: auto;
		padding: 0 50px !important;
		margin-top: 48px;
	}

	.card {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: auto;
		padding-bottom: 16px;
		margin-left: 50px;
		margin-right: 50px;
		overflow-wrap: break-word;
		z-index: 2;

		@include sm {
			width: 550px;
		}

		.card__headingStepperContainer {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			padding: 48px 32px 48px 32px;
			font-size: 1.6rem;
			border: none;
			outline: none;
			background-color: $color-dark-grey;
			color: rgba(255, 255, 255, 0.8);
			box-shadow: 0.5rem 2px 0.5rem $color-shadow;
			border-radius: 0.4rem;

			.card__heading {
				align-items: flex-start;
				width: 100%;
				margin-bottom: 32px;
				line-height: 4rem;
			}

			.card__description {
				font-size: 16px;
				line-height: 24px;
				color: white;
				margin-top: 32px;
			}

			.card__hint {
				font-size: 16px;
				line-height: 24px;
				color: rgba(255, 255, 255, 0.5);
				margin-top: 16px;
			}
		}

		.card__buttonContainer {
			width: 100%;
			padding: 24px 32px 24px 32px;
			background-color: $color-dark-grey;
			box-shadow: 0.5rem 2px 0.5rem $color-shadow;
			border-radius: 0.4rem;

			.card__buttonWrapper {
				display: flex;
				width: 100%;
				flex-direction: row;
				align-items: center;
			}

			.card__button {
				background-color: $color-main-yellow;
				display: block;
				padding: 13px 15px;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 600;
				line-height: 14px;
				text-align: center;
				color: black;
				font-family: 'Circular Std', sans-serif;
				box-shadow: none;
				text-transform: uppercase;
				margin: 1rem 0 0 1rem;
				padding: 13px 15px;
				width: 243.2px;
				border: none;
				cursor: pointer;
				transition: all 0.15s ease-out;
				margin: 4px;
				width: 100%;
			}

			.card__button:hover {
				background-color: $color-main-yellow-hovered;
			}
		}

		.card__validationHint {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			text-align: left;
			font-size: 14px;
			color: white;
			margin-top: 16px;
			p {
				margin-left: 8px;
			}
		}
	}
}
