@import '../../../styles/colors.scss';
@import '../../../styles/viewport.scss';

.debugger__container {
	z-index: 99;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 285px;
	height: auto;
	padding-bottom: 16px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 28px 24px 28px 24px;
	box-shadow: 0.5rem 2px 0.5rem $color-shadow-dark;
	border-radius: 0.4rem;
	overflow-wrap: break-word;
	font-size: 1.1rem;
	line-height: 22px;

	@include lg {
		position: absolute;
		top: 0;
		right: 305px;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	pre {
		white-space: pre-wrap;
	}
}
